body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #30fddb;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: center;
}

.button:hover {
    background-color: #86f9e6;
}


